<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Spring Boot Application</title>
</head>
<body>
<h1>AddressBook</h1>
<table>
    <thead>
        <th>Name</th>
        <th>Telephone</th>
    </thead>
    <tbody>
    <tr th:each="buddy: ${addressBook}">
        <td th:text="${buddy.name}"></td>
        <td th:text="${buddy.telephone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>